html,body {
  margin: 0px;
  background-color: #2F4F30;
  color:white;
}

.titulo {
  text-align: center;
  background-color: #080707;
  color:white;
  padding: 25px;
  font-size: 20px;
}
.carta{
  position: relative;
  width: 125px;
  left: 100px;
  margin-left: -60px;
}


#jugador-cartas, #cpu-cartas{
  height: 200px;
}
